footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}
  
.my-footer {
    width: 20px;
    height: 20px;
    fill: white;
    justify-content: center;
    align-items: center;
}
.footer-social{
  padding: 0;
} 
.footer-social__list {
  width: 206px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  justify-content: space-between;
  
}
.footer-social__list > .footer-social__item:not(:last-child){
    margin-right: 10px;
}
.footer-social__icon{
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 50px;
  justify-content: center;
  transition-property:background-color;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.footer-social__icon:hover,
.footer-social__icon:focus{
  background-color: #2196F3;
}
  
.contact-box p{
    font: Roboto;
    font-weight: 400;
    font-style: normal;
    size: 14px;
    line-height: 1.7px;
    color: #FFFFFF;
    margin-bottom: 9px;
}
.contact-box__item{
    color: rgba(255, 255, 255, 0.6);
}
    
.footer-social__title {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17px;
    color: white;
    margin-bottom: 20px;
}
.mailing-form {
    margin-left: 93px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2f303a;
}
.mailing-form__text {
    align-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}
.js-mailing-form {
    display: flex;
    width: 570px;
    margin-top: 20px;
}
  
.js-mailing-form__input {
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    margin-right: 12px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}
.sub-button {
    position: relative;
    width: 200px;
    height: 50px;
    padding-right: 62px;
    padding-left: 29px;
    border: 0px solid transparent;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.sub-button::after {
    background-image: url(../images/send.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    top: 13px;
    right: 28px;
    fill: #fff;
}
.sub-button:hover,
.sub-button:focus {
    background-color: #2196F3;
}
  
.site-footer__logo {
    color: #ffffff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
    display: block;
}
.site-footer__logo a {
    margin-bottom: 20px;
}
.media > .footer-social__item:not(:last-child){
    margin-right: 10px;
}
  
h6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  margin-top: 20px;
  margin-bottom: 9px;
}
  