
.menu-toggle{
min-width: 40px;
min-height: 40px;
margin: 0;
padding: 0;
background-color: transparent;
cursor: pointer;
border: transparent;
outline: none;
color: #212121;
&:focus,
&:hover {
color: #2196F3;
}
@media (min-width: 768px) {
.menu-toggle {
    display: none;
    }
}
}
.menu-toggle__icon {
fill: #212121;
width: 70px;
height: 70px;
}

