.first-pics{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
      
.first-pics >.last-pics{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
      
.first-pics li{
    transition-property: box-shadow;
    transition-duration: 250ms;
    width: 404px;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
      
.card{
    position: relative;
    overflow: hidden;
}
.card-overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    background-color: #2196F3;
    opacity: 90%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-overlay-text{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 322px;
    height: 168px;
    align-items: center;
    margin: 0;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.56;
}
      
.portfolio__link{
    text-decoration: none;
    display: block;
}
      
.portfolio__link:hover .card-overlay{
    cursor: pointer;
    transform: translate(0);
    opacity: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
      
.portfolio__link:focus .card-overlay{
    cursor: pointer;
    transform: translate(0);
    opacity: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
    animation: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover,
.portfolio__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
      
.team-items {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px  4px 4px;
}
    
.card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--main-colour);
    margin-top: 20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
      
h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    color: var(--second-colour);
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 24px;
}
      
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    list-style: none;  
    margin-left: -30px;
    margin-top: -30px;
}
    
.portfolio-list >.portfolio-item{
    flex-basis: calc(100% / 3 -30px);
    margin-left: 30px;
    margin-top: 30px;
}
    
.portfolio-list li{
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}