.hero h1{
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
}
    
.hero__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.hero{
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/background.jpg);
    background-size: 1600px;
}
.btn-hero {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: var(--button-color);
    background-color: #2196F3;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    border: 1px solid #2196F3;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}
.btn-hero:hover,
.btn-hero:focus {
    color: white;
}